mixin search-form()

  .search

    form(class='search-form' action="/books/search" method="get" role="search")

      .search-input

        input(
          type='search'
          name='phrase'
          placeholder='Search books...'
          aria-label='Search book database'
          autocomplete="on"
          spellcheck="false"
          maxlength="32"
          pattern="[0-9A-Za-z ]*"
          value=searchPhrase.replace(/\+/g, ' ')
          required='')

        button(type="submit" title="Search book database")
          svg(
            fill="#fff"
            height="24"
            viewBox="0 0 23 23"
            width="24"
            xmlns="http://www.w3.org/2000/svg"
            )
            path(d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z")
            path(d="M0 0h24v24H0z" fill="none")

      p.hint
        | Alphanumeric characters only.

      .search-filters

          span Filter search by:

          label
            input(
              type='checkbox'
              name='filter'
              checked=searchPhrase.includes('title')
              value='title')
            | Title

          label
            input(
              type='checkbox'
              name='filter'
              checked=searchPhrase.includes('author')
              value='author')
            | Author

          label
            input(
              type='checkbox'
              name='filter'
              checked=searchPhrase.includes('genre')
              value='genre')
            | Genre

          label
            input(
              type='checkbox'
              name='filter'
              checked=searchPhrase.includes('year')
              value='year')
            | Year

    if searchPhrase

      if (books.count && books.count > 0)
        h2 Your search returned #{books.count} books
      else
        h2.error Your search returned no books
