if(errors)
  include ../includes/form-error.pug

fieldset
  label(for="first_name") First Name:
  input(type="text" name="first_name" id="first_name" placeholder="Given name" autocomplete=false value=author.first_name)

fieldset
  label(for="last_name") Last Name:
  input(type="text" name="last_name" id="last_name" placeholder="Family name (Surname)" value=author.last_name)

fieldset
  label(for="date_of_birth") Date of birth:
  input(type="date" name="date_of_birth" id="date_of_birth" value=author.dob)

fieldset
  label(for="date_of_death") Date of death:
  input(type="date" name="date_of_death" id="date_of_death" value=author.dod)

input(type="submit" value=author.id ? "Update Author" : "Create New Author")
