if(errors)
  include ../includes/form-error.pug

fieldset
  label(for="firstName") First Name:
  input(type="text" name="firstName" placeholder="Given name" autocomplete=false value=author.firstName)

fieldset
  label(for="lastName") Last Name:
  input(type="text" name="lastName" placeholder="Family name (Surname)" value=author.lastName)

fieldset
  label(for="date_of_birth") Date of birth:
  input(type="date" name="date_of_birth" value=author.date_of_birth)

fieldset
  label(for="date_of_death") Date of death:
  input(type="date" name="date_of_death" value=author.date_of_death)

input(type="submit")
